In [38]:
import pandas as pd

In [39]:
# save filepath to variable for easier access
nhl_file_path = 'nhl_data.csv'
# read the data and store data in DataFrame titled nhl_data
nhl_data = pd.read_csv(nhl_file_path) 
# print a summary of the data in nhl data
nhl_data.describe()

,Salary,Ht,Wt,DftYr,DftRd,Ovrl,Debut,Age,Seasons,NHLid,...,C-G,C-A,C-PTS,C-+/-,C-PIM,C-Shot,C-TOI,C-OPS,C-DPS,C-PS
count,8.810000e+02,890.000000,890.000000,762.000000,762.000000,762.000000,890.000000,890.000000,890.000000,8.900000e+02,...,890.000000,890.000000,890.000000,890.000000,890.000000,890.000000,890.000000,890.000000,890.000000,890.000000
mean,2.442917e+06,73.008989,199.652809,2009.586614,2.751969,68.624672,2014.370787,26.082022,5.710112,8.475572e+06,...,56.729213,93.922472,150.651685,4.942697,176.382022,596.356180,5493.434831,10.593258,8.653933,19.257303
std,2.441001e+06,2.139649,15.452955,4.340438,1.988179,63.039031,67.276185,4.335613,4.178956,3.025251e+03,...,84.300641,129.025602,207.592315,40.279592,239.589807,733.706995,5883.308154,18.373293,11.244767,26.382666
min,6.500000e+05,64.000000,154.000000,1990.000000,1.000000,1.000000,1990.000000,18.000000,1.000000,8.448208e+06,...,0.000000,0.000000,0.000000,-109.000000,0.000000,0.000000,3.000000,-5.000000,0.000000,-2.000000
25%,7.425000e+05,72.000000,189.250000,2007.000000,1.000000,17.000000,2009.000000,23.000000,2.000000,8.474158e+06,...,5.000000,10.000000,14.250000,-11.000000,20.000000,80.250000,894.250000,0.000000,1.000000,1.000000
50%,9.250000e+05,73.000000,200.000000,2010.000000,2.000000,48.000000,2013.000000,25.000000,5.000000,8.476378e+06,...,22.500000,42.000000,65.000000,0.000000,81.000000,300.000000,3304.500000,2.000000,4.000000,8.000000
75%,4.000000e+06,74.000000,210.000000,2013.000000,4.000000,107.000000,2016.000000,29.000000,8.000000,8.477502e+06,...,74.750000,129.500000,212.000000,13.000000,235.500000,852.250000,8316.000000,14.000000,12.000000,28.000000
max,1.380000e+07,81.000000,260.000000,2017.000000,9.000000,291.000000,4015.000000,45.000000,24.000000,8.480771e+06,...,766.000000,1155.000000,1921.000000,322.000000,1839.000000,5637.000000,34197.000000,175.000000,89.000000,217.000000

In [40]:
nhl_data.columns

Index(['Salary', 'Nat', 'Ht', 'Wt', 'DftYr', 'DftRd', 'Ovrl', 'Hand', 'Debut',
       'Age',
       ...
       'C-G', 'C-A', 'C-PTS', 'C-+/-', 'C-PIM', 'C-Shot', 'C-TOI', 'C-OPS',
       'C-DPS', 'C-PS'],
      dtype='object', length=200)

In [41]:
# The Melbourne data has some missing values (some houses for which some variables weren't recorded.)
# We'll learn to handle missing values in a later tutorial.  
# Your Iowa data doesn't have missing values in the columns you use. 
# So we will take the simplest option for now, and drop houses from our data. 
# Don't worry about this much for now, though the code is:

# dropna drops missing values (think of na as "not available")
nhl_data = nhl_data.dropna(axis=0)

In [42]:
y = nhl_data.Salary

In [62]:
# Ovrl = overall draft position
# PTS/GP = points per game played 
# TOI/GP = time on ice per game played - this is crucial and shows the value of a player
# TOff/60 = total offence every hour
# C-PTS = career points
# PTS = Season points
# Star = player of the game stars?
nhl_features = ['Ovrl', 'Age', 'PTS/GP', 'TOI/GP', 'TOff/60', 'C-PTS', 'PTS', 'Star']
# nhl_features = ['TOI/GP']

In [63]:
X = nhl_data[nhl_features]

In [64]:
X.describe()

,Ovrl,Age,PTS/GP,TOI/GP,TOff/60,C-PTS,PTS,Star
count,36.000000,36.000000,36.000000,36.000000,36.000000,36.00000,36.000000,36.000000
mean,41.250000,29.777778,0.644444,18.060556,26.855556,467.25000,44.333333,5.250000
std,42.702543,3.108616,0.261364,2.571763,6.767377,242.39111,19.665779,3.417392
min,1.000000,23.000000,0.230000,13.010000,14.700000,38.00000,12.000000,1.000000
25%,5.500000,28.000000,0.445000,16.730000,20.550000,305.50000,31.750000,3.000000
50%,28.000000,30.000000,0.630000,17.795000,28.100000,436.00000,44.000000,4.500000
75%,60.250000,32.000000,0.727500,18.960000,32.400000,669.00000,54.250000,7.000000
max,157.000000,37.000000,1.250000,24.550000,38.600000,1041.00000,93.000000,17.000000

In [65]:
X.head()

     Ovrl  Age  PTS/GP  TOI/GP  TOff/60  C-PTS  PTS  Star
27   11.0   33    0.81   17.84     30.5    672   22     4
31   17.0   33    0.57   17.08     21.3    685   24     3
33   19.0   32    1.09   21.43     38.6    875   61     7
37  156.0   28    0.61   24.55     19.1    205   37     4
46   45.0   32    0.98   19.44     33.5    734   63    10

In [66]:
from sklearn.tree import DecisionTreeRegressor

# Define model. Specify a number for random_state to ensure same results each run
nhl_model = DecisionTreeRegressor(random_state=1)

# Fit model
nhl_model.fit(X, y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=1, splitter='best')

In [67]:
print("Making predictions for the following 5 players:")
print(X.head())
print("The predictions are")
print(nhl_model.predict(X.head()))

Making predictions for the following 5 players:
     Ovrl  Age  PTS/GP  TOI/GP  TOff/60  C-PTS  PTS  Star
27   11.0   33    0.81   17.84     30.5    672   22     4
31   17.0   33    0.57   17.08     21.3    685   24     3
33   19.0   32    1.09   21.43     38.6    875   61     7
37  156.0   28    0.61   24.55     19.1    205   37     4
46   45.0   32    0.98   19.44     33.5    734   63    10
The predictions are
[6500000. 9000000. 9025000. 5500000. 8750000.]

In [68]:
from sklearn.metrics import mean_absolute_error

predicted_salary = nhl_model.predict(X)
mean_absolute_error(y, predicted_salary)

0.0

In [69]:
from sklearn.model_selection import train_test_split

# split data into training and validation data, for both features and target
# The split is based on a random number generator. Supplying a numeric value to
# the random_state argument guarantees we get the same split every time we
# run this script.
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 0)
# Define model
nhl_model = DecisionTreeRegressor()
# Fit model
nhl_model.fit(train_X, train_y)

# get predicted prices on validation data
val_predictions = nhl_model.predict(val_X)
print(mean_absolute_error(val_y, val_predictions))

2241666.6666666665

In [71]:
# print the top few validation predictions
print(nhl_model.predict(val_X.head()))

[ 925000. 6500000. 3750000. 7500000. 7000000.]

In [72]:
# print the top few actual prices from validation data
print(X.head())

     Ovrl  Age  PTS/GP  TOI/GP  TOff/60  C-PTS  PTS  Star
27   11.0   33    0.81   17.84     30.5    672   22     4
31   17.0   33    0.57   17.08     21.3    685   24     3
33   19.0   32    1.09   21.43     38.6    875   61     7
37  156.0   28    0.61   24.55     19.1    205   37     4
46   45.0   32    0.98   19.44     33.5    734   63    10

In [73]:
# underfitting/ overfitting
# compore mae scores from different value for max leaf nodes

from sklearn.metrics import mean_absolute_error
from sklearn.tree import DecisionTreeRegressor

def get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    model.fit(train_X, train_y)
    preds_val = model.predict(val_X)
    mae = mean_absolute_error(val_y, preds_val)
    return(mae)

In [77]:
# compare MAE with differing values of max_leaf_nodes
candidate_max_leaf_nodes = [5, 25, 50, 100, 250, 500]

for max_leaf_nodes in [5, 50, 500, 5000]:
    my_mae = get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y)
    print("Max leaf nodes: %d  \t\t Mean Absolute Error:  %d" %(max_leaf_nodes, my_mae))

Max leaf nodes: 5  		 Mean Absolute Error:  2021141
Max leaf nodes: 50  		 Mean Absolute Error:  2002777
Max leaf nodes: 500  		 Mean Absolute Error:  2002777
Max leaf nodes: 5000  		 Mean Absolute Error:  2002777

In [78]:
scores = {leaf_size: get_mae(leaf_size, train_X, val_X, train_y, val_y) for leaf_size in candidate_max_leaf_nodes}
best_tree_size = min(scores, key=scores.get)

In [79]:
# Fit the model with best_tree_size. Fill in argument to make optimal size
final_model = DecisionTreeRegressor(max_leaf_nodes=best_tree_size, random_state=1)

In [80]:
# fit the final model
final_model.fit(X, y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=25, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=1, splitter='best')

In [82]:
# get predicted prices on validation data
val_predictions = final_model.predict(val_X)
print(mean_absolute_error(val_y, val_predictions))

21759.259259259226

In [84]:
# Random Forest time
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

forest_model = RandomForestRegressor(random_state=1)
forest_model.fit(train_X, train_y)
nhl_preds = forest_model.predict(val_X)
print(mean_absolute_error(val_y, nhl_preds))

1790555.5555555555

In [86]:
# 2.1 Handling Missing Values - Drop Columns with Missing Values

nhl_target = nhl_data.Salary
nhl_predictors = nhl_data.drop(['Salary'], axis=1)

# For the sake of keeping the example simple, we'll use only numeric predictors. 
nhl_numeric_predictors = nhl_predictors.select_dtypes(exclude=['object'])

In [92]:
X_train, X_test, y_train, y_test = train_test_split(nhl_numeric_predictors, 
                                                    nhl_target,
                                                    train_size=0.7, 
                                                    test_size=0.3, 
                                                    random_state=0)

def score_dataset(X_train, X_test, y_train, y_test):
    model = RandomForestRegressor()
    model.fit(X_train, y_train)
    preds = model.predict(X_test)
    return mean_absolute_error(y_test, preds)

In [93]:
cols_with_missing = [col for col in X_train.columns 
                                 if X_train[col].isnull().any()]
reduced_X_train = X_train.drop(cols_with_missing, axis=1)
reduced_X_test  = X_test.drop(cols_with_missing, axis=1)
print("Mean Absolute Error from dropping columns with Missing Values:")
print(score_dataset(reduced_X_train, reduced_X_test, y_train, y_test))

Mean Absolute Error from dropping columns with Missing Values:
1874545.4545454546

In [96]:
# 2.1 Imputation

from sklearn.preprocessing.imputation import Imputer

my_imputer = Imputer()
imputed_X_train = my_imputer.fit_transform(X_train)
imputed_X_test = my_imputer.transform(X_test)
print("Mean Absolute Error from Imputation:")
print(score_dataset(imputed_X_train, imputed_X_test, y_train, y_test))

Mean Absolute Error from Imputation:
1986136.3636363635

In [97]:
imputed_X_train_plus = X_train.copy()
imputed_X_test_plus = X_test.copy()

cols_with_missing = (col for col in X_train.columns 
                                 if X_train[col].isnull().any())
for col in cols_with_missing:
    imputed_X_train_plus[col + '_was_missing'] = imputed_X_train_plus[col].isnull()
    imputed_X_test_plus[col + '_was_missing'] = imputed_X_test_plus[col].isnull()

# Imputation
my_imputer = Imputer()
imputed_X_train_plus = my_imputer.fit_transform(imputed_X_train_plus)
imputed_X_test_plus = my_imputer.transform(imputed_X_test_plus)

print("Mean Absolute Error from Imputation while Track What Was Imputed:")
print(score_dataset(imputed_X_train_plus, imputed_X_test_plus, y_train, y_test))

Mean Absolute Error from Imputation while Track What Was Imputed:
2241818.1818181816

In [ ]:
# One hot encoding - not being used - just for non numerical data?

# XG Boost